# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.CiureaTest.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Razvan\Facultate\PAW\PAW_curs\CiureaTest\.idea\.idea.CiureaTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
